name: check-build

on:
  pull_request:

jobs:
  create-docker-image:
    runs-on: ubuntu-latest
    name: Check PR - Build
    concurrency:
      group: ${{ github.event.pull_request.number }}-check-pr
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false